@charset "ISO-8859-1";

body {
    font-family : "Montserrat";
    color: #fff;
    background: linear-gradient(90deg, rgba(34,30,202,1) 0%, rgba(255,12,93,1) 100%);
}

.container {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    margin-bottom: 20px;
}

button {
    background-color: #0066cc;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}

button:hover {
    background-color: #0052a3;
}

.card {
    /* From https://css.glass */
    background: rgba(51, 66, 202, 0.61);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    /*border: 1px solid #ccc;*/
    margin: auto;
    padding: 20px;
    width: 45%;
}

.card h2 {
    border-bottom: 1px solid #ccc;
    font-size: 24px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card li {
    margin-bottom: 10px;
}

.card li strong {
    display: inline-block;
    min-width: 100px;
}

.card li:last-child {
    margin-bottom: 0;
}